@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Montserrat:ital,wght@1,200&display=swap');

#b1 {
	background-color: #575757;
}
#b1 .col-1 {
	background-color: #363636;
}
#b1 header, #b1 header .content {
	background-color: #363636;
}
#b1 .row {
	background-color: #363636;
}
#b1 .content {
	background-color: #363636;
}